@charset "utf-8";

html, body {margin: 0;height: 100%;min-height: 100%;}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
$rc: 'Lexend Deca', sans-serif;
$ps: 'Lexend Deca', sans-serif;

$siteWidth: 1120px;                      // Ширина
$siteMinWidth: 340px;                   // Минимальная ширина

$siteFontFamily: $rc, arial;                 // Основное семейство
$siteFontSize: 14px;                    // Основной размер


$H1Size: $siteFontSize*2 + 14;               // Размер заголовка

$siteColor: #fff;                       // Цвет шрифта
$linkColor: #fff;                       // Цвет ссылок
$HnColor: #fff;                         // Цвет заголовка


body {
    position: relative;
    min-width: $siteMinWidth;
    text-align: left;
    color: $siteColor;
    font: $siteFontSize $siteFontFamily;
    line-height: 1;
    background: #131B34;

    @media all and (max-width: 1120px) {
        background: #161F3A;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $HnColor;
    font-family: $ps, $siteFontFamily;
    font-weight: 400;
    font-style: normal;
}

h1 {margin-top: 0; font-size: $H1Size;}
h2 {font-size: round($H1Size - 2);}
h3 {font-size: round($H1Size - 4);}
h4 {font-size: round($H1Size - 6);}
h5 {font-size: round($H1Size - 8);}
h6 {font-size: round($H1Size - 9);}
h5, h6 {font-size: round($H1Size - 10);}


@media all and (max-width: 1024px) {
    h1 {margin-top: 0; font-size: 28px;}
    h2 {font-size: 26px;}
    h3 {font-size: 24px;}
    h4 {font-size: 22px;}
    h5 {font-size: 20px;}
    h6 {font-size: 18px;}
    h5, h6 {font-size: 16px;}
}

a {text-decoration: underline; color: $linkColor;}
a:hover {text-decoration: none;}

a img {border-color: $siteColor;}


a[href^="tel:"] {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

img, textarea, input, table {
    max-width: 100%;
}

.site_wrapper {
   display: flex;
   flex-direction: column;
}

*{
    box-sizing: border-box;
}

.block_inner {
    max-width: $siteWidth;
    margin: 0 auto;
}


.field {
    margin-bottom: 24px;
    position: relative;

    input[type="text"],input[type="password"],input[type="tel"],input[type="url"] {
        width: 100%;
        padding: 0 20px;
        height: 48px;
        background: #131B34;
        border: 1px solid #222D4F;
        border-radius: 6px;
        box-sizing: border-box;
        outline: none;
        font-family: $rc;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        transition: all 0.3s;
    }

    select {
        width: 100%;
        padding: 0 20px;
        height: 48px;
        background: #131B34;
        border: 1px solid #222D4F;
        border-radius: 6px;
        box-sizing: border-box;
        outline: none;
        font-family: $rc;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        transition: all 0.3s;
    }

    textarea {
        width: 100%;
        padding: 13px 20px;
        height: 220px;
        background: #131B34;
        border: 1px solid #222D4F;
        border-radius: 6px;
        box-sizing: border-box;
        outline: none;
        font-family: $rc;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        transition: all 0.3s;
    }

    .field_name {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        padding-bottom: 8px;

        span {
            color: #FF5353;
        }
    }

    .error_text {
        position: absolute;
        left: 0;
        top: 100%;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #FF5353;
        display: none;
        padding-top: 2px;
    }

    input[type="url"]:invalid {
        border-color: #FF5353;
    }

    &.error {

        .error_text {
            display: block;
        }

        input {
            border-color: #FF5353;
        }
    }

    &.checkbox {

        label {
            position: relative;
            padding-left: 44px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;

            input {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }

            i {
                position: absolute;
                top: -2px;
                left: 0;
                width: 28px;
                height: 28px;
                border: 1px solid #222D4F;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                transition: all 0.3s;
                background-color: #131B34;
                z-index: 1;
                border-radius: 6px;
            }

            input:checked + i {
                background-color: #385FE9;
                border-color: #385FE9;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.50001 13.475L4.02501 9.99999L2.84167 11.175L7.50001 15.8333L17.5 5.83333L16.325 4.65833L7.50001 13.475Z' fill='%23161F3A'/%3E%3C/svg%3E%0A");
            }
        }

        a {
            color: #385FE9;
            text-decoration: none;
        }

        &.error {

            .error_text {
                display: none;
            }

            label {
                i {
                    border-color: #FF5353;
                }
            }
        }
    }

    &.radio {

        ul {
            padding: 2px 0;
            margin: 0;
            list-style: none;
            max-height: 190px;
            overflow: auto;

            li {
                margin-bottom: 10px;

                label {
                    position: relative;
                    padding-left: 30px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1;
                    color: #242424;
                    cursor: pointer;
                    display: inline-block;

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }

                    span {
                        position: absolute;
                        top: -2px;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        border: 2px solid #747576;
                        background-color: #fff;
                        border-radius: 50%;
                        z-index: 1;

                        &:before {
                            content: '';
                            transition: all 0.3s;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 10px;
                            height: 10px;
                            margin: auto;
                            background: #183E98;
                            opacity: 0;
                            border-radius: 50%;
                        }
                    }

                    input:checked + span {
                        border-color: #183E98;

                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.jq-selectbox.jqselect {
    display: block !important;
    width: 100%;

    .jq-selectbox__select {
        width: 100%;
        padding: 18px 16px 17px;
        height: 60px;
        background: none;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        text-transform: uppercase;
        color: #78B82A;
        border: 1px solid #78B82A;
        box-sizing: border-box;
        border-radius: 0;
        outline: none;
        font-family: $rc;
        position: relative;
        cursor: pointer;

        .jq-selectbox__select-text {
            width: 100% !important;
            margin: 0;
        }

        .jq-selectbox__trigger {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 24px;
            width: 12px;
            height: 12px;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3.66528L6.01136 9.65392L5.05129 8.69385L11.0399 2.70521L12 3.66528Z' fill='%2378B82A'/%3E%3Cpath d='M5.98877 9.63599L0.000131678 3.64734L0.960205 2.68727L6.94884 8.67591L5.98877 9.63599Z' fill='%2378B82A'/%3E%3C/svg%3E%0A");
            background-position: 50%;
            background-repeat: no-repeat;
            margin: auto;
        }
    }

    .jq-selectbox__dropdown {
        top: 100% !important;
        border: 1px solid #78B82A;
        background: #000;
        left: 0 !important;
        right: 0 !important;
        bottom: auto !important;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                padding: 18px 16px 17px;
                font-size: 22px;
                text-transform: uppercase;
                color: #78B82A;
                cursor: pointer;

                &:hover,&.sel {
                    color: #fff;
                }
            }
        }
    }
}

.btn {
    &_button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 13px 31px;
        white-space: nowrap;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        border-radius: 6px;
        transition: all 0.3s;
        cursor: pointer;
        border: 1px solid transparent;
    }

    &_ls {
        padding: 11px 19px;
        font-size: 14px;
        line-height: 18px;
    }

    &_blue {
        background: #385FE9;

        &:hover{
            background: #5075F4;
        }
    }

    &_secondary {
        background: #1E2949;

        &:hover {
            background: #253155;
        }
    }

    &_outline {
        background: none;
        border-color: #222D4F;

        &:hover {
            background: #192340;
        }
    }

    &_icon_left {

        &:before {
            content: '';
            width: 20px;
            height: 20px;
            margin-right: 12px;
            flex: 0 0 20px;
            background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6666 9.16671H6.52498L11.1833 4.50837L9.99998 3.33337L3.33331 10L9.99998 16.6667L11.175 15.4917L6.52498 10.8334H16.6666V9.16671Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
    }

    &_icon_left_add {

        &:before {
            content: '';
            width: 20px;
            height: 20px;
            margin-right: 12px;
            flex: 0 0 20px;
            background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 6.75H6.75V11.25H5.25V6.75H0.75V5.25H5.25V0.75H6.75V5.25H11.25V6.75Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
    }

    &_icon_right {
        
        &:after {
            content: '';
            width: 20px;
            height: 20px;
            margin-left: 12px;
            flex: 0 0 20px;
            background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 3.33337L8.82504 4.50837L13.475 9.16671H3.33337V10.8334H13.475L8.82504 15.4917L10 16.6667L16.6667 10L10 3.33337Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
    }
}


.saas {
    
    &_main_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-family: $rc;

        @media all and (max-width: 1120px) {
            background: #161F3A;
        }

        @media all and (max-height: 700px) {
            height: auto;
        }
    }

    &_main_block {
        flex: 0 1 $siteWidth;
        background: #161F3A;
        border-radius: 16px;
        padding: 64px;
        display: flex;
        height: 100%;
        max-height: 800px;

        @media all and (max-width: 1120px) {
            max-height: 100%;
        }

        @media all and (max-width: 1000px) {
            padding: 24px;
            flex-direction: column;
        }
    }

    &_left_steps {
        flex: 0 0 236px;
        border-right: 1px solid #222D4F;

        &_inner {
            padding: 54px 0 0;
        }

        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .number {
                flex: 0 0 37px;
                height: 37px;
                width: 37px;
                border: 1px solid #222D4F;
                border-radius: 50%;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 35px;
                text-align: center;
                color: #FFFFFF;
                margin-right: 16px;
                transition: all 0.3s;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    width: 1px;
                    margin: 0 auto;
                    height: 20px;
                    background: #222D4F;
                }
            }

            .name {
                flex: 1 1 auto;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #3F4B6C;
                transition: all 0.3s;
            }

            &.active {

                .number {
                    background: #385FE9;
                }

                .name {
                    color: #fff;
                }
            }

            &.done {
                .number {
                    background: #0BD0AD url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.50001 13.475L4.02501 9.99999L2.84167 11.175L7.50001 15.8333L17.5 5.83333L16.325 4.65833L7.50001 13.475Z' fill='%23161F3A'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    font-size: 0;
                }
            }

            &:last-child {

                .number{
                    &:before {
                        display: none;
                    }
                }
            }
        }

        @media all and (max-width: 1000px){
            border: none;
            flex: none;

            .saas_logo svg{
                width: 94px;
                height: 23px;
            }

            &_inner {
                padding: 32px 0 40px;
                display: flex;
                align-self: start;
            }

            &_item {
                flex: 0 0 37px;
                margin-right: 20px;
                margin-bottom: 0;

                &:last-child{
                    margin-right: 0;
                }

                .number{
                    margin: 0;

                    &:before {
                        top: 0;
                        bottom: 0;
                        width: 20px;
                        height: 1px;
                        margin: auto;
                        right: auto;
                        left: 100%;
                    }
                }

                .name {
                    display: none;
                }
            }
        }
    }

    &_step {
        display: none;
        flex: 1 1 auto;
        width: 100%;
        flex-direction: column;

        &.active_step {
           display: flex;
        }
    }

    &_right_content {
        flex: 1 1 auto;
        padding-left: 64px;
        display: flex;        
        width: 100%;
        flex-direction: column;
        
        @media all and (max-width: 1000px) {
            padding: 0;
        }

        &_title {
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            color: #FFFFFF;
            margin-bottom: 48px;
        }

        &_text {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            padding-bottom: 32px;
        }

        &_subtext{
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #3F4B6C;
            padding-bottom: 32px;
        }

        &_subtitle {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            padding-bottom: 12px;
        }

        &_body {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            padding-bottom: 32px;
        }

        &_text_btn{
            display: flex;
            align-items: center;
            padding-bottom: 32px;

            .saas_right_content_text {
                flex: 1 1 auto;
                padding: 0 20px 0 0;
            }
        }

        @media all and (max-width: 1000px) {
            &_title {
                font-size: 22px;
                line-height: 28px;
                margin-bottom: 24px;
            }

            &_text {
                font-size: 16px;
                line-height: 20px;
                padding-bottom: 24px;
            }

            &_subtext{
                font-size: 16px;
                line-height: 20px;
                padding-bottom: 24px;
            }

            &_body {
                font-size: 14px;
                line-height: 20px;
                padding-bottom: 24px;
            }

            &_text_btn{
                display: block;
                padding-bottom: 24px;

                .saas_right_content_text {                    
                    padding: 0 0 16px;
                }

                .btn_button {
                    display: flex;
                }
            }
        }

        &_center {
            flex: 1 1 auto;

            &_inner {
                overflow-y: scroll;
                max-height: 424px;
                min-height: 424px;

                @media all and (max-width: 1000px) {
                    max-height: 394px;
                }

                &::-webkit-scrollbar {
                    width: 4px;
                    height: 4px; 
                }

                &::-webkit-scrollbar-track-piece {
                    background-color: transparent; 
                }

                &::-webkit-scrollbar-thumb {
                    height: 100px;
                    border-radius: 0;
                    background-color: rgba(0, 0, 0, 0.1); 
                }
            }

            .field {

                input[type="text"],input[type="url"] {
                    max-width: 333px;
                }
            }
        }

        &_btns {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;

            @media all and (max-width: 767px) {
                gap: 24px;

                .btn_button {
                    padding: 11px 20px;
                    flex: 1 1 auto;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }

        .saas_step.last_child {
            .saas_right_content_center_inner {
                min-height: 1px;
                max-height: 100%;
            }
        }
    }    
}

.checkbox_fields {
    padding-top: 2px;

    &.col_2 {

        @media all and (min-width: 768px) {
            column-count: 2;
            column-gap: 24px;
        }
    }
}

.role_block_wrap {
    display: flex;
    flex-wrap:wrap;
    gap: 32px;

    .role_block {
        flex: 0 0 calc(50% - 16px);
        padding: 20px;
        background: #18223F;
        border-radius: 6px;
        position: relative;

        .role_actions {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            background: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 6.66659C11.4167 6.66659 12.1667 5.91659 12.1667 4.99992C12.1667 4.08325 11.4167 3.33325 10.5 3.33325C9.58337 3.33325 8.83337 4.08325 8.83337 4.99992C8.83337 5.91659 9.58337 6.66659 10.5 6.66659ZM10.5 8.33325C9.58337 8.33325 8.83337 9.08325 8.83337 9.99992C8.83337 10.9166 9.58337 11.6666 10.5 11.6666C11.4167 11.6666 12.1667 10.9166 12.1667 9.99992C12.1667 9.08325 11.4167 8.33325 10.5 8.33325ZM10.5 13.3333C9.58337 13.3333 8.83337 14.0833 8.83337 14.9999C8.83337 15.9166 9.58337 16.6666 10.5 16.6666C11.4167 16.6666 12.1667 15.9166 12.1667 14.9999C12.1667 14.0833 11.4167 13.3333 10.5 13.3333Z' fill='%233F4B6C'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }

        .role_name {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #0BD0AD;
            padding-right: 30px;
            margin-bottom: 12px;
        }

        .role_text {
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            color: #3F4B6C;
            padding-bottom: 12px;
        }

        .role_item {
            margin-bottom: 8px;
            padding: 8px 38px 8px 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #FFFFFF;
            position: relative;
            background: #1E2949;
            border-radius: 4px;

            .role_item_delete {
                position: absolute;
                top: 8px;
                right: 8px;
                cursor: pointer;
                width: 18px;
                height: 18px;
                background: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.75 4.8075L13.6925 3.75L9.5 7.9425L5.3075 3.75L4.25 4.8075L8.4425 9L4.25 13.1925L5.3075 14.25L9.5 10.0575L13.6925 14.25L14.75 13.1925L10.5575 9L14.75 4.8075Z' fill='%233F4B6C'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
        }

        .role_actions_btns {
            position: absolute;
            top: 46px;
            right: 20px;
            width: 160px;
            padding: 3px;
            background: #18223F;
            border: 1px solid #222D4F;
            box-shadow: 6px 6px 16px rgba(12, 18, 37, 0.14);
            border-radius: 6px;
            z-index: 10;
            display: none;

            .btn_button {
                padding: 9px 19px;
                justify-content: start;
                font-size: 14px;
                line-height: 24px;
                border-radius: 4px;
                display: flex;

                &:before {
                    content: '';
                    flex: 0 0 20px;
                    height: 20px;
                    margin-right: 12px;
                }

                &.role_edit {
                    &:before {
                        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 14.3749V17.4999H5.625L14.8417 8.28322L11.7167 5.15822L2.5 14.3749ZM17.2583 5.86655C17.5833 5.54155 17.5833 5.01655 17.2583 4.69155L15.3083 2.74155C14.9833 2.41655 14.4583 2.41655 14.1333 2.74155L12.6083 4.26655L15.7333 7.39155L17.2583 5.86655V5.86655Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    }
                }

                &.role_delete {
                    &:before {
                        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00033 15.8333C5.00033 16.75 5.75033 17.5 6.66699 17.5H13.3337C14.2503 17.5 15.0003 16.75 15.0003 15.8333V5.83333H5.00033V15.8333ZM15.8337 3.33333H12.917L12.0837 2.5H7.91699L7.08366 3.33333H4.16699V5H15.8337V3.33333Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    }
                }

                &:hover {
                    background: #161F3A;
                }
            }
        }

        .add_role_item {
            padding: 7px 10px;
            font-size: 12px;
            line-height: 18px;
            display: flex;
        }
    }

    @media all and (max-width: 767px)  {
        display: block;

        .role_block {
            margin-bottom: 24px;
        }
    }
}

.result_block_wr {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    .result_item {
        flex: 0 0 calc(33.33% - 16px);
        padding: 20px;
        background: #131B34;
        border-radius: 6px;

        .name {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
            padding-bottom: 10px;
        }

        .value {
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 28px;
            color: #0BD0AD;
        }
    }

    @media all and (max-width: 767px) {
        display: block;

        .result_item {
            margin-bottom: 24px;
        }
    }
}

.form_popup_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    background: rgba(10, 15, 31, 0.7);
    transition: all 0.5s;
    padding: 32px 32px;

    @media all and (max-width: 767px) {
        padding: 10px;
    }

    &:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
    }

    &.opened {
        opacity: 1;
        visibility: visible;
    }

    .formExtraWrapper {
        width: 452px;
        margin: auto;
        position: relative;   
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
        text-align: left; 
        z-index: 10;    
        border-radius: 10px;
        overflow: hidden;

        

        .close-form {
            position: absolute;
            top: 48px;
            right: 48px;
            width: 32px;
            height: 32px;
            background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.3332 8.54675L23.4532 6.66675L15.9998 14.1201L8.5465 6.66675L6.6665 8.54675L14.1198 16.0001L6.6665 23.4534L8.5465 25.3334L15.9998 17.8801L23.4532 25.3334L25.3332 23.4534L17.8798 16.0001L25.3332 8.54675Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
            cursor: pointer;
            z-index: 101;
        }

        @media all and (max-width: 767px) {
            width: 326px;

            .close-form {
                top: 24px;
                right: 24px;
            }
        }
    }

    .form_content {
        font-size: 0;
        padding: 48px;
        box-sizing: border-box;
        position: relative;
        z-index: 100;
        background: #161F3A;
        box-shadow: 12px 12px 40px rgba(5, 8, 17, 0.06);
        border-radius: 16px;    

        .name {
            margin-bottom: 32px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            color: #FFFFFF;
        }    

        .field {
            margin-bottom: 32px;
        }

        .btns {

            .btn_button {
                margin-right: 16px;
            }
        }

        @media all and (max-width: 767px){
            padding: 24px;

            .name {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 24px;
            }

            .field {
                margin-bottom: 24px;
            }

            .btns {
                gap: 16px;
                display: flex;

                .btn_button {
                    flex: 1 1 auto;
                    margin: 0;
                }
            }
        }
    }
}

